{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% include 'partials/header.html' %}
<section class="lg:w-5/6 mx-auto">
    <div class="my-4 space-y-2">
        <div class="my-10 text-center">
            <h1 class="text-xl font-semibold">{{ title }} y solución a preguntas frecuentes!</h1>
        </div>
        <div class="collapse bg-base-100 border">
            <input type="radio" name="my-accordion-1" checked="checked" />
            <div class="collapse-title text-xl font-medium">
                Click to open this one and close others
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse bg-base-100 border">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium">
                Click to open this one and close others
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse bg-base-100 border">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium">
                Click to open this one and close others
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
    </div>
</section>
{% include 'partials/footer.html' %}
{% endblock %}