{% load i18n static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/full.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}" />
</head>
<body>
    
    {% block content %}{% endblock %}
</body>
</html>